[Desktop Entry]
Type=Application
Name=Nova Linux
GenericName=Polaris game streaming client
Comment=Stream your PC games to Linux desktops, laptops and handhelds
Exec=nova-deck --standalone
Icon=com.papi_ux.Nova
Terminal=false
Categories=Game;
Keywords=Polaris;Moonlight;streaming;Linux;handheld;Steam Deck;
