[Desktop Entry]
Type=Application
Name=Nova
GenericName=Polaris game streaming client
Comment=Your game library and streaming in Nova
Exec=nova-deck --standalone
Icon=com.papi_ux.Nova
Terminal=false
Categories=Game;
Keywords=Polaris;Moonlight;streaming;Steam Deck;
